import pandas as pd
import datetime
import numpy as np
import matplotlib.pyplot as plt
import tkinter as tk
from tkinter import scrolledtext
from tensorflow import keras
from keras.models import Sequential
from keras.optimizers import Adam
from keras import layers, regularizers
from keras.callbacks import EarlyStopping, ReduceLROnPlateau
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
